# Node modules
node_modules/

# Build output
dist/
build/

# Dependency directories
pnpm-lock.yaml
package-lock.json

# Local environment files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Vite
.vite/

# VS Code
.vscode/
